.lable {
    background-color: rgba(248, 248, 248, 0.87);
    text-align: center;
    /* padding: 5px 0; */
    margin-top: 5px;
    max-width: 76px;
    max-height: 40px;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    color: rgb(62, 65, 64);
    font-size: 10px;
    font-weight: bold;
    /* margin-left: 3px; */
  }

  
  .image-recepie {
    max-height: 75px;
    width: 75px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px white solid;
  }
  .img-container {
    position: relative;
    align-content: center;
    width: 100%;
  }
  .image-recepie:hover {
    border: 3px rgb(62, 65, 64) solid;
  }
  