.title-text {
  color: green;
  font-size: 24px;
}
.nav-icon {
  height: 72px;
  box-sizing: border-box;
  color: #c7c7c8 !important;
  flex-flow: column;
  align-items: center;
  padding-top: 12px;
  max-width: 264px;
  width: 160px;
  padding: 8px 0 0 0 !important;
  font-size: 0.8125rem !important;
}
.nav-icon > span {
  display: flex;
  flex-flow: column;
}

.nav-icon > button:hover {
  background-color: none;
}
.nav-icon:hover {
  cursor: pointer;
  background-color: rgba(58, 58, 58, 0.808);
}
