.slick-list {
    margin: 0 5px;
}

.slick-slider {
    margin: 30px;
}

.slick-track {
    max-height: 120px;
}
.slick-slide>div {
    padding: 0 5px;
    max-height: 280px;
    max-width: 280px;
}

.slick-prev:before, .slick-next:before{
    color:black;
}