.logo {
  position: absolute;
  /*height: 200px;
  width: auto; */
  height: 225px;
  width: 500px;
}

.header {
  background-color: #ffffff;
  height: 200px;
}

.grid-wrapper {
  height: calc(100vh - 200px);
  min-height: 600px;
  width: 100vw;
}

.gridItem {
  height: 100%;
}

.image-space-left {
  box-sizing: border-box;
  padding: 0 3px 0 6px;
}

.image-space-right {
  box-sizing: border-box;
  padding: 0 6px 0 3px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: auto;
}
