.main {
  position: absolute;
  width: 25%;
  height: 45%;
  top: -5%;
  left: 0%;
}

.root {
  height: 100vh;
  min-height: 700px;
  background-color: white;
}

.gridOne {
  /*background-color: #97f5af; */
  background-color: #a8d0e6;
  height: 40% !important;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 65pt;
  color: white;
}
.main {
  text-decoration: underline;
  color: white;
}
.subSearch {
  font-size: 25pt;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.wrapper {
  height: 100vh;
  min-height: 500px;
  width: 100vw;
}

.gridItem {
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
