.title {
  margin-bottom: 5px;
  color: white !important;
  font-family: Roboto !important;
  font-weight: 400;
  font-size: 25px !important;
  letter-spacing: 0.05em;
  text-align: center !important;
}

.searchMenuBg {
  background-image: url("../../images/recipediaPage.jpg");
  filter: contrast(0.8);
  background-size: cover;
}
header {
  background-color: rgba(255, 255, 255, 0) !important;
}

.searchbarMarginFix {
  margin-top: 10px;
  letter-spacing: 0.05em;
}
