.menuList {
  display: flex !important;
  flex-direction: column !important;
  margin: 0 !important;
  border: none !important;
  width: 100%;
  padding-left: 15px;
}

.innerHoverRemovedAlt {
  background: rgba(55, 55, 55, 0.8) !important;
}

.menuItemLi:hover {
  background-color: transparent !important;
}

.menuItemLi {
  color: rgb(55, 55, 55) !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  text-align: left;
}

.menuPlacement {
  position: absolute !important;
  right: 0;
  z-index: 3;
  border-radius: 0 !important;
}

.menuIconWhite {
  color: white !important;
}

#custom-css-outlined-input-helper-text {
  color: red;
}

.popUpPrompt {
  padding: 20px !important;
  background: white;
  outline: none;
}

.formLabelText {
  margin-top: 20px;
  padding-left: 10px !important;
}

.formHelperText {
  margin-bottom: 20px !important;
  padding-left: 10px !important;
}

.formatPreferences {
  padding-left: 10px !important;
}

.allergyFlexing {
  display: flex;
  flex-direction: column;
}
.fa-sign-in-alt,
.fa-user-plus {
  color: grey;
  font-size: 20px;
}

@media (max-width: 483px) {
  .allergyOptions1 {
    padding-bottom: 0 !important;
  }
  .allergyOptions2 {
    padding-top: 0 !important;
  }
}
