.menuList {
  display: flex !important;
  flex-direction: column !important;
  margin: 0 !important;
  border: none !important;
  width: 100%;
}

.innerHoverRemovedAlt {
  background: rgba(55, 55, 55, 0.8) !important;
}

.innerHoverRemoved:hover {
  background-color: transparent !important;
}

.menuPlacement {
  position: absolute !important;
  right: 0;
  z-index: 3;
}

.menuIconWhite {
  color: white !important;
}

#custom-css-outlined-input-helper-text {
  color: red;
}

.popUpPrompt {
  padding: 20px !important;
}

.formLabelText {
  margin-top: 20px;
  padding-left: 10px !important;
}

.formHelperText {
  margin-bottom: 20px !important;
  padding-left: 10px !important;
}

.formatPreferences {
  padding-left: 10px !important;
}

.allergyFlexing {
  display: flex;
  flex-direction: column;
}

@media (max-width: 483px) {
  .allergyOptions1 {
    padding-bottom: 0 !important;
  }
  .allergyOptions2 {
    padding-top: 0 !important;
  }
}
