.errorBg {
  background: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.errorBgDesign {
  background: rgb(150, 150, 150);
  -webkit-clip-path: polygon(0 21%, 0% 100%, 75% 100%, 10% 3%);
  clip-path: polygon(0 21%, 0% 100%, 75% 100%, 15% 2%);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.contentBox {
  background: white;
  height: 85%;
  width: 85%;
  position: absolute;
  z-index: 3;
  top: 7.5%;
  left: 7.5%;
}

.imageBox {
  background: url("../../images/errorPageImage.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  border: solid white 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.errorTextTitle {
  color: white;
  font-family: Roboto;
  margin: 0;
  font-size: 150px;
}

.errorText {
  color: white;
  background: rgb(150, 150, 150);
  font-size: 20px;
  padding: 10px 15px !important;
  margin-top: 0;
  width: 60%;
  text-align: center;
  border-left: solid transparent 3px;
  border-right: solid white 3px;
  border-top: solid white 3px;
  border-bottom: solid white 3px;
  margin-left: -3px;
}

.returnHomeBtn {
  border-radius: 0 !important;
}
