.bgrd-img {
  background-image: url("../../images/eating.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 60px;
}
.recipePage {
  width: 50%;
  background-color: rgb(62, 65, 64) !important;
  padding: 5px;
  margin: 0 auto;
  font-family: "Amatic SC", cursive;
}
.recipePage > div {
  align-items: center;
}
.img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 6px solid rgb(62, 65, 64);
  position: absolute;
  top: -250px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.header {
  height: auto;
  position: relative;
  text-align: center;
  background-color: rgb(62, 65, 64);
}
.header > h1 {
  margin: 150px auto 30px auto;
}

.header > h1 > a {
  text-decoration: none;
}

.header > h3 {
  color: black;
}
.header > a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.card {
  font-family: "Dosis", sans-serif;
  background-color: white;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.card > div {
  width: 33%;
  margin: 0 1px;
  color: black;
  font-size: 20px;
  text-align: left;
}
h5 > i {
  color: black;
}
.link {
  color: white;
}
h5 {
  font-size: 20px;
}
li {
  font-weight: bold;
}
i {
  color: black;
  margin-right: 10px;
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.fa-chevron-right {
  font-size: 8px;
}
.circle {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.fa-external-link-alt {
  font-size: 15px;
  color: white;
}
/* Media */

@media screen and (max-width: 768px) {
  .recipePage {
    width: 90%;
  }
  .card > div {
    width: 60%;
    margin: 0 auto;
  }
}
