.recipePage {
  width: 50%;
  background-color: rgb(62, 65, 64) !important;
  padding: 5px;
  margin: 120px auto 20px auto;
  font-family: "Amatic SC", cursive;
}
.recipePage > div {
  align-items: center;
}
.img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 6px solid rgb(62, 65, 64);
  position: absolute;
  top: -250px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.header {
  height: 75px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  background-color: rgb(62, 65, 64);
}
.header > h1 {
  color: black;
  background-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.452);
  width: 50%;
  padding-bottom: 20px;
  margin: 150px auto 30px auto;
}
.header > h3 {
  color: black;
}
.header > a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.body-card {
  background-color: white;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.body-card > div {
  width: 33%;
  margin: 0 1px;
  color: rgb(62, 65, 64);
  font-size: 20px;
  text-align: left;
}
h3 > i {
  color: black;
}
i {
  color: black;
  margin-right: 10px;
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.fa-circle {
  font-size: 15px;
}
.circle {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

/* Media */

@media screen and (max-width: 768px) {
  .recipePage {
    width: 90%;
  }
  .body-card > div {
    width: 60%;
    margin: 0 auto;
  }
}
