.navcons {
  color: white;
}

.navText {
  color: white !important;
  text-decoration: none;
}

.searchTab:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.dashboardTab:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.navButton {
  padding: 0 !important;
}

.navFlex {
  display: flex;
  justify-content: center;
  padding: 0;
}

.sidebarLoginButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sidebarLoginText {
  display: block;
  text-align: center;
  padding: 15px 0 5px 0 !important;
}

.sidebarSaveButton {
  margin: 0px !important;
  background: #63c387 !important;
  color: white !important;
}

.sidebarSavePlacement {
  margin-left: 24px;
  margin-bottom: 20px;
}

.swal2-container {
  z-index: 1301;
}

.navbarBG {
  position: relative !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14) !important;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(100, 100, 100),
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
