.root {
  overflow-x: auto;
  width: "100%";
  margin: 10px 30px;
}
.table {
  min-width: 700px;
}
.meal {
  background-image: url("../../images/textured-bg.jpg");
}
.lable {
  background-color: rgba(255, 255, 255, 0.705);
  color: gray;
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  max-width: 120px;
  margin-bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.image-recepie {
  max-height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
}
.img-container {
  position: relative;
  align-content: center;
}
