.root {
  overflow-x: auto;
  width: "100%";
  margin: 10px 30px;
}
.table {
  min-width: 700px;
}
.meal {
  background-image: url("../../images/textured-bg.jpg");
}
.lableImg {
  background-color: rgba(248, 248, 248, 0.87);
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  max-width: 120px;
  margin-bottom: 0;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  color: rgb(62, 65, 64);
  font-weight: bold;
  margin-left: 3px;
  width: 120px;
}
.image-recepe {
  max-height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
  border: 3px white solid;
}
.img-container {
  position: relative;
  align-content: center;

  width: 120px;
}
.image-recepe:hover {
  border: 3px rgb(62, 65, 64) solid;
}
.th {
  text-align: center;
}
