.root {
  overflow-x: auto;
  width: "100%";
  margin: 10px 30px;
  max-width: 1300px;
  margin-top: 25px;
}
.table {
  min-width: 700px;
}
.meal {
  background-image: url("../../images/textured-bg.jpg");
}
.lableImg {
  background-color: rgb(62, 65, 64);
  font-family: Dosis;
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
  max-width: 110px;
  max-height: 34px;
  overflow: hidden;
  margin-bottom: 2px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
  margin-left: 3px;
  width: 120px;
  padding: 0 5px;
}
.image-recepe {
  max-height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
  border: 3px white solid;
}
.img-container {
  position: relative;
  align-content: center;

  width: 120px;
}
.image-recepe:hover,
.img-container:hover .image-recepe {
  border: 3px rgb(62, 65, 64) solid;
}

.th {
  text-align: center;
}
.cell {
  height: 148px;
}
.meal > p {
  color: black;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
#clearWeek {
  border: 1px solid rgba(128, 128, 128, 0.493);
  color: grey;
  padding: 5px;
  width: 100%;
  margin-left: 10px;
}
#clearWeek:hover {
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.removeOneMeal {
  position: absolute;
  top: 17px;
  right: 7px;
  border-radius: 50%;
  font-size: 15px;
  background: rgb(62, 65, 64);
  color: white;
  font-weight: 900;
  height: 24px;
  width: 25px;
  border: none;
}
.removeOneMeal:hover {
  cursor: pointer;
  color: indianred;
}
.cell {
  position: relative;
  max-width: 126px;
}
